@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: #ffffff;
text-shadow: 0 0 10px #FFFFFF;
        }
  
}

header {

    @include flexCenter();
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    

        background: lightblue;
    
        
   
        }
       